<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Daniel Blanchard - Bilingual Speech &amp; Language Pathologist</title>
        <meta name="description" content="Daniel Blanchard - Bilingual Speech &amp; Language Pathologist" />
        <meta name="web_author" content="MBees Design using Imarc Boilerplate" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Sanchez" rel="stylesheet">
    </head>
    <body>
    <div class="wrapper">
        <header class="primary">
            <div class="container">
                <div class="header-content">
                    <div class="branding">
                        <a href="../es">
                            <img src="img/danielblanchard-logo-final-2.svg" alt="Daniel Blanchard SLP Logo">
                        </a>
                    </div>
                    <nav class="secondary">
                        <div class="contact">
                            <span><i class="fa fa-phone" aria-hidden="true"></i> 413-218-9837</span>
                            <span>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <script type="text/javascript">
                                    var string1 = "blanchardd3";
                                    var string2 = "@";
                                    var string3 = "gmail.com";
                                    var string4 = string1 + string2 + string3;
                                    document.write("<a href=" + "mail" + "to:" + string1 + string2 + string3 + ">" + string4 + "</a>");
                                </script>
                            </span>
                        </div>
                        <button class="menu-toggle">
                            <!-- <i class="fa fa-bars"></i> -->
                            <div class="menu-bar menu-bar-top"></div>
                            <div class="menu-bar menu-bar-middle"></div>
                            <div class="menu-bar menu-bar-bottom"></div>
                        </button> 
                    </nav>
                    
                    <div class="mobile">
                        <nav aria-label="Primary Mobile Navigation" class="primary">
                            <ul>
                                <li class="<?php if($currentPage =='casa'){echo 'active';}?>">
                                    <a href="index.php">Home</a>
                                </li>
                                <li class="<?php if($currentPage =='servicios'){echo 'active';}?>">
                                    <a href="servicios.php">Servicios</a>
                                </li>
                                <li class="<?php if($currentPage =='testimonios'){echo 'active';}?>">
                                    <a href="testimonios.php">Testimonios</a>
                                </li>
                                <li class="<?php if($currentPage =='biografia'){echo 'active';}?>">
                                    <a href="biografia.php">Biografía</a>
                                </li>
                                <li class="<?php if($currentPage =='contacto'){echo 'active';}?>">
                                    <a href="contacto.php">Contacto</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="utilities">
                            <nav aria-label="Utility Navigation" class="utility">
                                <ul>
                                    <li><a href="../index.php">Back to English Site</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>